/*-------------------------------
Colors
-------------------------------*/
:root {
  --color-white: #f9f7f8;
  --color-white-200: #eeeef1;
  --color-gray-300: #dedde3;
  --color-gray-500: #716e87;
  --color-black-600: #42404f;
  --color-brand-primary-100: #f2f6fb;
  --color-brand-primary-500: #5596fa;
  --color-brand-primary-600: #4478c8;
  --color-brand-primary-700: #335a96;
  --color-brand-secondary-500: #78d46e;
  --color-brand-secondary-600: #6cbf63;
  --color-brand-secondary-800: #54944d;
  --color-brand-tertiary-100: #eeedf7;
  --color-brand-tertiary-300: #9690cc;
  --color-brand-tertiary-500: #5046aa;

  --space-mini: 8px;
  --space-small: 16px;
  --space-medium: 24px;
  --space-large: 40px;
  --space-xl: 80px;
}

/*-------------------------------
Typography
-------------------------------*/
@font-face {
  font-family: "galano";
  src: url("../fonts/GALANO BOLD.OTF");
  font-weight: bold;
}
@font-face {
  font-family: "galano";
  src: url("../fonts/GALANO.OTF");
  font-weight: normal;
}
@font-face {
  font-family: "galano";
  src: url("../fonts/GALANO LIGHT.OTF");
  font-weight: 200;
}

h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
}

h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-weight: 200;
  font-size: 22px;
  line-height: 28px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.subtitle-primary {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}

.subtitle-secondary {
  font-weight: light;
  font-size: 14px;
  line-height: 24px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

b {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.caption-primary {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.caption-secondary {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.btn--large {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
}
/*-------------------------------
Structure
-------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px 5%;
  font-family: "galano", sans-serif;
  background-color: var(--color-white);
}

/*-------------------------------
Header
-------------------------------*/
.header__mobile {
  display: none;
}

.header {
  margin: 0 var (--space-medium);
  margin-bottom: var(--space-medium);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}

.header__logo {
  margin-right: var(--space-large);
  padding: var(--space-small) var(--space-medium) var(--space-small)
    var(--space-small);
  background-color: var(--color-brand-tertiary-500);
  border-radius: 0 0 var(--space-mini) var(--space-mini);
}

.header__img {
  width: 148px;
}

.header__social img {
  max-width: 24px;
  margin: 0 var(--space-mini);
}

.header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__contact h6 {
  margin-left: var(--space-small);
  color: var(--color-gray-500);
}

.header__contact img {
  max-height: 32px;
}

.header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  padding: var(--space-mini);
  background-color: var(--color-brand-tertiary-500);
  border-radius: var(--space-mini);
}

.header__cart img {
  max-width: 24px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  max-width: 48px;
  margin-right: var(--space-small);
}

.header__menu--profile {
  text-align: left;
}

.header__menu--profile p {
  color: var(--color-brand-tertiary-300);
}

.header__menu--profile h3 {
  color: var(--color-gray-500);
}

.menu__categories {
  margin: 0 var(--space-xl);
  display: flex;
  height: var(--space-large);
  justify-content: space-between;
  align-items: center;
}

.menu__categories h6 {
  color: var(--color-black-600);
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__search__img {
  margin: var(--space-mini);
  padding: var(--space-mini);
  background-color: var(--color-brand-tertiary-500);
  width: var(--space-medium);
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 12px var(--space-small);
  margin: auto 0;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-white-200);
  border-radius: 4px;
}

/*-------------------------------
Main
-------------------------------*/
.main {
  margin-top: var(--space-small);
  margin-bottom: var(--space-large);
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main img {
  max-width: 100%;
  border-radius: var(--space-medium);
}

.categories__title {
  color: var(--color-brand-secondary-600);
}

.categories__subtitle {
  color: var(--color-brand-primary-600);
}

/*-------------------------------
Carousel
-------------------------------*/
.carousel {
  width: 100%;
  overflow: scroll;
  padding: var(--space-medium) 0;
  position: relative;
  overflow: hidden;
}

.carousel__container {
  overflow: scroll;
  overflow: hidden;
  white-space: nowrap;
  margin-top: var(--space-mini);
  margin-bottom: var(--space-large);
  padding-bottom: var(--space-mini);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0px 2px 16px var(--color-gray-300);
}

.carousel-item {
  background-color: var(--color-white);
  width: 422px;
  height: 600px;
  border-radius: var(--space-medium);
  overflow: hidden;
  margin-right: var(--space-mini);
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(40px, 0, 0);
}

.carousel-item__img {
  width: 422px;
  height: 600px;
  object-fit: cover;
}

.small-item {
  width: 422px;
  height: 422px;
}

.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 0) 70%
  );
  opacity: 1;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: var(--space-medium);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--color-brand-primary-700);
}

.carousel-item__details img {
  width: 32px;
  margin-right: var(--space-mini);
  display: inline-block;
}

.carousel-item__details img:hover {
  transform: scale(1.2);
}

.carousel-item__details__price {
  color: var(--color-black-600);
  width: 100%;
  margin-top: var(--space-medium);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/*-------------------------------
Ads
-------------------------------*/
.ads {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--space-small);
}

.ads img {
  width: 100%;
  border-radius: var(--space-small);
}

/*-------------------------------
Categories
-------------------------------*/
.categories {
  margin: var(--space-large) var(--space-xl);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
}

.category {
  max-width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category__icon {
  margin-right: var(--space-mini);
  max-width: 64px;
}

/*-------------------------------
Brands
-------------------------------*/
.brands img {
  width: 100%;
  border-radius: var(--space-medium);
}

/*-------------------------------
Footer
-------------------------------*/
.caracteristics {
  margin: var(--space-xl);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.caracteristic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-brand-primary-500);
}

.caracteristic__icon {
  width: 123px;
  margin-bottom: var(--space-medium);
}

/*-------------------------------
Newsletter
-------------------------------*/
.newsletter {
  margin-bottom: var(--space-large);
  min-height: 458px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  border-radius: var(--space-medium);
}

.newsletter__container {
  height: 100%;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter__container h2 {
  margin-bottom: var(--space-medium);
  color: var(--color-brand-primary-500);
}

.submit--news {
  margin-top: var(--space-small);
  padding: var(--space-small) var(--space-medium);
  background-color: var(--color-brand-secondary-500);
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  font-family: "galano";
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  border-radius: var(--space-mini);
  cursor: pointer;
}

.submit--news:hover {
  background-color: var(--color-brand-primary-500);
  color: var(--color-white);
}

/*-------------------------------
Footer
-------------------------------*/
.footer {
  box-sizing: border-box;
  padding: var(--space-large) var(--space-xl);
  background-color: var(--color-brand-primary-700);
  border-radius: var(--space-medium) var(--space-medium) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
}

.footer img {
  max-width: 273px;
}

.footer__menu,
.footer__info {
  padding: var(--space-medium);
  max-width: 35%;
  color: var(--color-white);
}

/*-------------------------------
Animations
-------------------------------*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*-------------------------------
Responsive
-------------------------------*/
@media only screen and (max-width: 600px) {
  .categories__title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }

  .categories__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }

  .header,
  .menu__categories {
    display: none;
  }

  .header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: var(--space-mini);
    padding: var(--space-mini) var(--space-small) var(--space-mini)
      var(--space-mini);
  }

  .header__img {
    width: 90px;
  }

  .header__search__img {
    width: var(--space-small);
    height: var(--space-small);
  }

  .avatar {
    max-width: 32px;
    margin-right: 0;
  }

  .main {
    min-height: auto;
  }

  .main img {
    border-radius: var(--space-mini);
  }

  .ads {
    grid-template-columns: 1fr;
  }

  .categories {
    margin: var(--space-medium) 0;
    grid-template-columns: 1fr 1fr;
  }

  .category {
    max-width: 220px;
    margin: var(--space-small) 0;
  }

  .category__icon {
    width: 32px;
  }

  .category h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .carousel-item {
    width: 263px;
    height: 374px;
  }

  .carousel-item__img {
    width: 263px;
    height: 374px;
  }

  .carousel__container {
    overflow-x: scroll;
    margin-bottom: var(--space-small);
  }

  .carousel-item__details {
    padding: var(--space-small);
  }

  .small-item {
    width: 260px;
    height: 260px;
  }

  .caracteristics {
    margin: var(--space-large);
    grid-template-columns: 1fr;
  }

  .caracteristic {
    margin-bottom: var(--space-medium);
  }

  .caracteristic__icon {
    width: 80px;
    margin-bottom: var(--space-small);
  }

  .newsletter {
    min-height: auto;
    background-position: 80%;
    grid-template-columns: 1fr;
  }

  .newsletter__container {
    padding: var(--space-medium);
    grid-column-start: 1;
    text-align: center;
    justify-content: flex-end;
  }

  .newsletter__container h2 {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-brand-primary-700);
  }

  .footer {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--space-medium);
    border-radius: var(--space-mini) var(--space-mini) 0 0;
    justify-content: space-evenly;
  }

  .footer img {
    max-width: 200px;
  }

  .footer__menu,
  .footer__info {
    text-align: center;
    padding: var(--space-small);
    min-width: 90%;
  }
}
